.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Tafs {
  padding-left: 2vh;
  padding-right: 2vh;
}

.Wx-Disc {
  padding-left: 2vh;
  padding-right: 2vh;
}
