.grid-container {
  display: grid;
  grid-gap: 7px; /* space between grid items */
  padding: 7px; /* optional: padding around the entire grid */
  box-sizing: border-box; /* Include padding in the total width and height */
  width: 100%;
}

/* Default mobile phones */
.grid-container {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  background-color: #f0f0f0; /* Just example styling */
  padding: 10px; /* Making items look nice */
  border: 1px solid #ccc; /* Giving a border to items */
}

.wx {
  text-align: left;
}

.wx-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wx-link {
  color: #61dafb;
}

.wx-vis {
  width: 100%;
}

.wx-disc {
  padding-left: 1vh;
  padding-right: 1vh;
}

.wx-cam {
  width: 100%;
}

.wx-tafs {
  padding-left: 1vh;
  padding-right: 1vh;
}
