.wx {
  text-align: left;
}

.wx-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wx-link {
  color: #61dafb;
}

.wx-vis {
  width: 100%;
}

.wx-disc {
  padding-left: 1vh;
  padding-right: 1vh;
}

.wx-cam {
  width: 100%;
}

.wx-tafs {
  padding-left: 1vh;
  padding-right: 1vh;
}
